.vehica-features {
    display: none !important;
}

div#vehica-simple-container-1 {
    display: none;
}


h2.vehica-heading__title {
    font-size: 20px !important;
    line-height: 25px !important;
}